.websites-list--no-decoration {
    text-decoration: none;
}

.websites-list__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    padding: 2.5rem 1rem 0rem 1rem;
}

.websites-list__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.websites-list__heading {
    color: var(--typography-dark);
}

.websites-list__filters-wrapper {
    display: flex;
    gap: 1rem;
}

.websites-list__filters {
    all: unset;
    color: var(--color-primary);
}

.websites-list__list {
    width: 100%;
    display: grid;
    gap: 1.25rem;
}

.websites-list__card {
    padding: 1.25rem;
    border-radius: 1rem;
    background-color: var(--background-component-primary);
    color: var(--typography-dark);
}

.websites-list__card__heading-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.websites-list__card__heading {
    font-size: 1.75rem;
}

.websites-list__card__heading-link {
    color: var(--color-primary);
}

.websites-list__card__list-items {
    list-style-position: inside;
    padding: 0;
    margin: 0;
}

.websites-list__card__hosting-plan,
.websites-list__card__site-created {
    display: inline;
}

.websites-list__card__hosting-plan-link {
    color: var(--color-primary);
}

.websites-list__card__links {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.75rem;
    padding-top: 1rem;
}

.websites-list__card__primary-link {
    padding: 0.5rem 1rem;
    color: var(--color-primary);
    background-color: var(--background-button-secondary);
    border-radius: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
}

.websites-list__card__secondary-link {
    padding: 0rem 1rem;
    color: var(--color-primary);
    font-weight: 700;
}

@media (min-width: 800px) {
    .websites-list {
        display: flex;
        justify-content: center;
    }

    .websites-list__wrapper {
        max-width: 1440px;
        padding: 4rem 1rem 0rem 1rem;
    }

    .websites-list__heading {
        font-size: 2.75rem;
    }

    .websites-list__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .websites-list__card__list-items {
        display: flex;
        gap: 0.75rem;
        margin-bottom: 1rem;
    }

    .websites-list__card__list-items>.websites-list__card__list-item:first-child {
        list-style: none;
    }

    .websites-list__card__links {
        justify-content: space-between;
        flex-direction: row;
    }

    .website-list__add-new-site {
        all: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;
        background-color: var(--background-component-primary);
        border-radius: 1rem;
        cursor: pointer;
    }

    .website-list__add-new-site__plus {
        display: grid;
        place-items: center;
        width: 50px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        border: 1px solid var(--color-primary);
        color: var(--color-primary);
        font-size: 1.75rem;
    }

    .website-list__add-new-site__text {
        color: var(--typography-dark);
        font-weight: 700;
        font-size: 2rem;
    }
}

@media (min-width: 1500px) {
    .websites-list__wrapper {
        padding: 4rem 0rem 0rem 0rem;
    }

    .websites-list__list {
        gap: 2rem;
    }

    .websites-list__card {
        padding: 2rem;
    }

    .websites-list__card__heading {
        font-size: 2.25rem;
    }

    .website-list__add-new-site__plus:hover {
        background-color: var(--background-button-secondary);
    }

}