.section--standard {
    max-width: 1440px;
    margin: 0 auto;
    padding: 2rem 1rem 0rem 1rem;
    color: var(--typography-dark);
}

#hero {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    background-color: #0d1939;
    padding: 4rem 0rem;
}

.hero__svg {
    display: none;
}

.hero__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 560px;
    gap: 1.25rem;
}

.hero__subheading {
    background-color: #fffb76;
    color: #363636;
    padding: 0rem 0.75rem;
}

.hero__heading {
    font-size: 2rem;
    color: #fff;
}

.hero__paragraph {
    font-size: 1.5rem;
    color: #fff;
}

.hero__button {
    all: unset;
    color: var(--color-primary);
    background-color: var(--background-button-secondary);
    height: 40px;
    padding: 0rem 3rem;
    border-radius: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
}

.websites-and-services__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0rem;
    gap: 1.25rem;
}

.websites-and-services__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    width: 100%;
    background-color: var(--background-component-primary);
    border-radius: 0.75rem;
    padding: 1.5rem 0rem
}

.websites-and-services__card__button {
    all: unset;
    padding: 0.5rem 1rem;
    color: var(--color-button-white);
    background-color: var(--background-button-primary);
    border-radius: 1.75rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.875rem;
}

.tips-and-suggestions__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem;
    padding: 1rem 0rem 2rem 0rem;
}

.tips-and-suggestions__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 1.5rem 1.5rem;
    background-color: var(--background-component-primary);
    border-radius: 0.75rem;
}

.tips-and-suggestions__svg {
    display: block;
    margin: 0 auto;
}

.tips-and-suggestions__card__link-arrow {
    display: flex;
    gap: 0.5rem;
    text-decoration: none;
}

.tips-and-suggestions__load-more {
    all: unset;
    display: block;
    margin: 0 auto;
    padding: 0.5rem 1.5rem;
    border-radius: 1.75rem;
    background-color: transparent;
}

.tips-and-suggestions__card__link-text,
.tips-and-suggestions__load-more {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-primary);
    font-weight: 700;
    cursor: pointer;
}

.recent-blog-posts__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem 0rem;
    gap: 2rem;
}

.recent-blog-posts__card {
    overflow: hidden;
    background-color: var(--background-component-primary);
    border-radius: 0.75rem;
}

.recent-blog-posts__card__image-container {
    filter: brightness(50%);
}

.recent-blog-posts__card__text-container {
    padding: 1.75rem 2rem 0.75rem;
    border-bottom: 1px solid var(--border-color-outer);
}

.recent-blog-posts__card__heading {
    font-size: 1.5rem;
}

.recent-blog-posts__card__time-link-container {
    display: flex;
    justify-content: space-between;
    padding: 1.75rem;
}

.recent-blog-posts__card__time {
    color: var(--typography-light);
}

.recent-blog-posts__card__link {
    text-decoration: none;
    color: var(--color-primary);
}

@media (min-width: 800px) {
    .websites-and-services__wrapper {
        flex-direction: row;
    }

    .websites-and-services__card {
        justify-content: space-between;
        height: 312px;
        padding: 2rem 0rem;
        text-align: center;
    }

    .tips-and-suggestions__svg {
        display: inline-block;
        margin: 0;
    }

    .recent-blog-posts__wrapper {
        grid-template-columns: repeat(3, 1fr)
    }

    .recent-blog-posts__card {
        display: flex;
        flex-direction: column;
    }

    .recent-blog-posts__card__text-container {
        flex: 1;
        border-bottom: none;
    }

    .recent-blog-posts__card__heading {
        margin-bottom: 0.75rem;
        line-height: 2rem;
    }

    .recent-blog-posts__card__link:hover {
        color: var(--color-primary-hovered);
    }
}

@media (min-width: 1024px) {
    .tips-and-suggestions__wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .hero__button,
    .websites-and-services__card__button,
    .tips-and-suggestions__load-more {
        cursor: pointer;
        transition: background-color 300ms;
    }

    .hero__button:hover {
        background-color: var(--background-button-secondary-hovered);
    }

    .websites-and-services__card__button:hover {
        background-color: var(--background-button-primary-hovered);
    }

    .tips-and-suggestions__card__link-text {
        position: relative;
    }

    .tips-and-suggestions__card__link-text:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: currentColor;
        transform-origin: bottom right;
        transition: transform 250ms ease-out;
    }

    .tips-and-suggestions__card__link-text:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .tips-and-suggestions__card__link-text:hover~.tips-and-suggestions__card__arrow {
        animation: boomerang .3s ease-in .3s 2 alternate
    }

    @keyframes boomerang {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(5px);
        }
    }

    .tips-and-suggestions__load-more:hover {
        background-color: var(--background-button-secondary-hovered);
    }
}

@media (min-width: 1500px) {
    #hero {
        gap: 6rem;
    }

    .hero__svg {
        display: block;
    }

    .hero__heading {
        font-size: 2.75rem;
    }
}